* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'New York', -apple-system-ui-serif, ui-serif, 'Roboto Serif', serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
}

#header {
    position: sticky;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffffcc;
    backdrop-filter: blur(50px);
    z-index: 1000;
}

.downloads {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.downloads a {
    transition: 250ms all ease-in-out;
}

.downloads a:hover {
    transform: scale(1.02);
}

#header .container {
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

#header a.logo {
    display: block;
    text-decoration: none;
    color: #333;
}

#header a.logo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#header a.logo img {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: calc(60px*2/9);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px;
}

#header a.logo h1 {
    display: block;
    margin: 0;
    font-size: 24px;
}

#header .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#header .links .link {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: all 250ms ease-in-out;
}

#header .links .link.faq {
    margin-right: 10px;
}

#header .links .link:hover {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 9px;
}

.cta-button {
    background-color: #FEDBB3;
    color: #FF8F09;
    padding: 10px 20px;
    border-radius: 9px;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

.cta-button:hover {
    background-color: #fbd6ac;
    box-shadow: rgba(0, 0, 0, 0.07) 0 2px 4px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    text-align: center;
    background: linear-gradient(180deg, #FFEBB3 0%, #FCDDBF 100%);
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    width: 100%;
    padding: 2rem;
    background: #ffffffcc;
    backdrop-filter: blur(10px);
    border-radius: 24px;
}

.hero-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 18px;
    max-width: 600px;
    opacity: 0.9;
    margin-bottom: 20px;
}

.hero-image {
    margin-bottom: -130px;
}

.hero-image img {
    max-width: 700px;
}

.promo {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.features, .testimonials {
    background-color: #fff;
    padding: 5rem 0;
    text-align: center;
}

.features .container, .testimonials .container {
    flex-direction: column;
    align-items: center;
}

.features .container h3, .testimonials .container h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
    padding-bottom: 2.5rem;
}

.feature-grid, .testimonials-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.feature {
    flex: 1;
    min-width: 220px;
    max-width: 300px;
    background-color: #f5f5f5cc;
    backdrop-filter: blur(50px);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.feature .img-container {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: top;
}

.feature .img-container.organize {
    background-image: url("../img/organize.png");
}

.feature .img-container.discover {
    background-image: url("../img/discover.png");
}

.feature .img-container.goals {
    background-image: url("../img/goals.png");
}

.feature .img-container.insights {
    background-image: url("../img/insights.png");
}

.feature h4 {
    font-size: 18px;
    color: #333;
    min-height: 50px;
}

.feature p {
    font-size: 15px;
    color: #333;
    font-family: 'SF Pro', sans-serif;
}

.feature h4, .feature p {
    margin: 0;
    padding: 0;
    display: block;
}

.bookie-plus {
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
}

.bookie-plus ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.bookie-plus li {
    margin: 0.5rem 0;
}

.testimonials .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.testimonials .author {
    display: block;
    width: 100%;
    text-align: right;
}

.testimonials .testimonials-grid .feature {
    gap: 0.5rem !important;
}

.testimonials .header .rating {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.testimonials .feature .header h4 {
    margin: 0;
    padding-bottom: 0;
}

.testimonials .header .rating img {
    display: block;
    width: 16px;
    height: 16px;
    filter: brightness(0) saturate(100%) invert(61%) sepia(93%) saturate(747%) hue-rotate(1deg) brightness(104%) contrast(104%);
}

footer {
    background-color: #efefef;
    color: #333;
    padding: 1rem;
    text-align: center;
}

footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'SF Pro', sans-serif;
    font-size: 14px;
}

footer .links {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer a {
    color: #333;
    display: block;
    text-decoration: none;
}

@media (max-width: 540px) {

    #header .link {
        display: none;
    }

    .hero .hero-image {
        margin-bottom: -150px;
    }

    .hero .hero-text h2 {
        font-size: 22px;
    }

    .hero .hero-text p {
        font-size: 16px;
    }

    .downloads {
        flex-direction: column;
    }
}


@media (max-width: 800px) {

    .hero .hero-image {
        width: 100%;
    }

    .hero .hero-image img {
        width: 100%;
    }

}